<form method="post" action="{{ path('app_owner_delete', {owner: owner.id}) }}">
    <input type="hidden" name="token" value="{{ csrf_token('delete-item') }}">
    <button type="submit">Delete</button>
</form>